{% extends "base.html" %}

{% block title %}Contact Us - HealthEase AI{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">  
        <div class="col-md-8 col-lg-6">  
            <div class="card">
                <div class="card-body text-center">  
                    <h3 class="card-title">Contact Information</h3>
                    <address class="mt-4">
                        <strong>HealthEase AI</strong><br>
                        Peshawar City<br>
                        <i class="fas fa-phone me-2"></i> +92 3139884980<br>
                        <i class="fas fa-envelope me-2"></i> raheemkhan.rk12345@gmail.com
                    </address>
                    
                    <h4 class="mt-4">Business Hours</h4>
                    <ul class="list-unstyled">
                        <li><strong>Open (Monday-Sunday):</strong> 9:00 AM - 8:00 PM</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

